.comments {
  margin-top: 60px;
  padding-top: 60px;
}

.comment {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.commentPlay {
  width: 22px;
  padding-left: 10px;
  margin-left: 5px;
}

/* comment.css */
.com_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment_author {
  padding-right: 10px; /* 우측 마진을 줄입니다. */
  font-weight: bold;
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 12px;
  font-size: 17px;
}

.comment_date {
  padding-left: 10px; /* 좌측 마진을 줄입니다. */
  opacity: 60%;
  margin-bottom: 12px;
  font-size: 13px;
}

.comment_text {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  padding-left: 5px;
}

.voiceGood {
  font-size: 12px;
  padding-left: 20px;
  opacity: 60%;
}

.heart {
  width: 29px;
}

.comment_but {
  text-align: right;
  padding-bottom: 15px;
  font-size: 12px;
}

.comment_del {
  color: white;
  background-color: black;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .comments {
    padding: 10px; /* 댓글 목록의 내부 여백을 줄임 */
  }

  .comment {
    margin-bottom: 20px; /* 댓글 사이의 간격을 늘림 */
  }

  .comment_author {
    font-size: 14px; /* 댓글 작성자의 글꼴 크기를 조정 */
    white-space: nowrap; /* 텍스트를 줄바꿈 없이 한 줄로 표시 */
  }

  .comment_date {
    font-size: 12px; /* 댓글 작성일의 글꼴 크기를 줄임 */
  }

  .comment_text {
    font-size: 14px; /* 댓글 내용의 글꼴 크기를 조정 */
  }

  .comment_but button {
    font-size: 12px; /* 댓글 삭제 버튼의 글꼴 크기를 줄임 */
  }

  .commentPlay {
    width: 20px; /* 댓글 재생 아이콘의 크기를 조정 */
  }
}
