/* Forum.jsx */
.forum {
  background-color: black;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  justify-content: center;

  position: fixed;

  bottom: 0; /* 아래쪽으로는 화면 끝까지 */

  top: 15%; /* 화면의 정중앙부터 시작 */

  overflow: auto;

  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */

  width: 100%;
}

.forum-intro {
  text-align: center;
  padding-bottom: 30px;
}

.forum-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.forum-tab {
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: white;
  color: black;
  font-weight: bold;
  white-space: nowrap;
}

.forum-tab.active {
  background-color: white;
  color: black;
  border: 3px solid #ff17e5;
}

.write {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-bottom: 50px;

  width: 85%;
}

.forum-body {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-gap: 60px; /* 게시글 사이의 간격 조절 */
  margin-bottom: 20px; /* 페이지네이션과의 간격 */
  padding-left: 60px;
  padding-right: 60px;

  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* 반응형 디자인을 위한 미디어 쿼리 (화면 크기에 따라 한 줄에 표시되는 아이템 수를 조정) */
@media (max-width: 768px) {
  .forum-body {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 480px) {
  .forum-body {
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-gap: 20px;
    width: 85%;
    padding-left: 25px;
  }
}

.post-card {
  background-color: black;
  border: 1px solid white;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  height: 200px;

  position: relative;
  overflow: hidden;

  padding-left: 40px;
  padding-right: 40px;
}

.post-card:hover {
  transform: translateY(-3px);
}

.post-card-header {
  display: flex;
  flex-direction: column; /* 자식 요소들을 수직 방향으로 쌓음 */
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-bottom: 10px;
}
.post-card .post-card-header .post-title {
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: bold;
}
.post-card-header .post-date {
  opacity: 60%;
}

.post-card-body {
  /*margin-bottom: 10px;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  background-color: #ff17e5; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.write-button {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.no-posts {
  text-align: center;
  padding: 20px;
  font-style: italic;
}

.post-card .comment-count {
  text-align: right;

  position: absolute; /* 절대적 위치 설정 */
  bottom: 15px; /* 하단으로부터 10px 떨어진 곳에 배치 */
  right: 20px;

  display: flex;

  align-items: center;
  gap: 4px;
}

.comment2 {
  width: 24px; /* 이미지 크기 설정 */
  height: auto; /* 이미지 비율 유지 */
}

@media (max-width: 768px) {
  .forum-header {
    overflow-x: auto;
    display: flex;
    justify-content: center;
  }

  .forum-tab {
    display: inline-block;
    padding: 8px 16px; /* 패딩을 줄여 탭 크기 감소 */
    font-size: 0.9em; /* 폰트 크기 감소 */
    justify-content: center;
  }

  .write-button {
    padding: 8px 16px;
    font-size: 13px;
  }
}

/* 페이징 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 40px;
  height: 40px;
  /*border: 1px solid #e2e2e2;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 50%;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #ff17e4ee;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: white;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #ff17e4a2;
}

/* 모든 요소 및 모든 상태의 스크롤바 스타일을 지정 */
* {
  scrollbar-width: thin; /* Firefox에서 스크롤바 두께를 얇게 설정 */
  scrollbar-color: black transparent; /* Firefox에서 스크롤바 색상 설정 */
}

/* Chrome, Edge, Safari 등에서 스크롤바 스타일을 지정 */
*::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
  height: 12px; /* 수평 스크롤바의 높이 */
}

*::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙(바탕) 색상 */
}

*::-webkit-scrollbar-thumb {
  background-color: black; /* 스크롤바 색상 */
  border-radius: 20px; /* 스크롤바 모서리 둥글게 */
  border: 3px solid transparent; /* 스크롤바 테두리 */
}

/* 화면 크기가 768px 이하일 때의 스타일 */
@media (max-width: 768px) {
  .forum-header {
    overflow-x: auto;
    display: flex;
    justify-content: center;
  }
  .forum-body .post-card {
    height: 150px;
    padding-bottom: 30px;
  }
  .post-card .post-card-header {
    margin-bottom: 8px;
  }
  .post-card .post-card-header .post-title {
    font-size: 17px;
    font-weight: bold;
  }
  .post-card-header .post-date {
    font-size: 12px;
  }

  .post-card-body {
    margin-bottom: 40px; /* 댓글 수 표시 영역을 위해 여백 증가 */
    font-size: 14px;
  }

  .post-card .comment-count {
    /*position: static; /* 상대적 위치 설정 */
    bottom: 10px; /* 기존 bottom 속성 제거 */
    right: 10px; /* 기존 right 속성 제거 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    gap: 4px;
    margin-top: 10px; /* 요소와 요소 사이의 간격 */
    font-size: 13px;
  }
  .comment-count .comment2 {
    width: 20px; /* 이미지 크기 설정 */
    height: auto; /* 이미지 비율 유지 */
  }
}

/* 화면 크기가 480px 이하일 때의 스타일 */
@media (max-width: 480px) {
  .forum-tab {
    padding: 6px 12px; /* 더 작은 패딩으로 탭 크기를 줄임 */
    font-size: 0.8em; /* 더 작은 폰트 크기로 변경 */
    margin: 3px; /* 탭 사이의 간격을 줄임 */
  }
  .forum-body .post-card {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
  }
  .post-card-body {
    margin-bottom: 50px; /* 댓글 수 표시 영역을 위해 여백 더 증가 */
    font-size: 12px;
  }
  .post-card .post-card-header {
    margin-bottom: 5px;
  }
  .post-card .post-card-header .post-title {
    font-size: 13px;
  }
  .post-card-header .post-date {
    font-size: 9px;
  }

  .post-card-body {
    margin-bottom: 30px; /* 댓글 수 표시 영역을 위해 여백 증가 */
    font-size: 11px;
  }
  .post-card .comment-count {
    bottom: 5px; /* 더 작은 화면에서 하단 위치 더 조정 */
    right: 5px; /* 우측 여백 조정 */
    font-size: 10px;
  }
  .comment-count .comment2 {
    width: 15px; /* 이미지 크기 설정 */
    height: auto; /* 이미지 비율 유지 */
  }

  .write-button {
    padding: 6px 12px;
    font-size: 10px;
  }
}
