
.section {
  width: 83%; /* 가로 크기를 80%로 설정합니다. */
  margin: 0 auto; /* 가로 중앙 정렬을 위해 좌우 마진을 자동으로 설정합니다. */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.section1 {
  background-image: url('/assets/mainwave.gif');
}

.main-container {
    position: relative; /* 상대 위치 지정 */
    top: 180px; /* 위쪽으로 160px 이동 */
    left: 300px; /* 왼쪽으로 50px 이동 */
  
}


p{
  font-size: 15px;
}
