.myVoice {
  color: white; /* 기본 글자 색상 */
  position: fixed;
  top: 20%; /* 화면의 정중앙부터 시작 */
  bottom: 0; /* 아래쪽으로는 화면 끝까지 */
  width: 100%;
  font-family: "나눔고딕", sans-serif; /* 글씨체 */
  text-align: center;
  overflow: auto;
  padding-bottom: 50px;
}

.voice {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.speed {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pitch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.speed-range {
  -webkit-appearance: none; /* 오버라이드 기본 스타일 */
  appearance: none;
  width: 50%; /* 슬라이더의 전체 폭 */
  height: 5px; /* 슬라이더의 높이 */
  background: white; /* 슬라이더의 배경색 */
  outline: none; /* 포커스 테두리 제거 */
  opacity: 1; /* 슬라이더의 불투명도 */
  -webkit-transition: 0.2s; /* 트랜지션 효과 */
  transition: opacity 0.2s;
}
.speed-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* 핸들 기본 스타일 제거 */
  appearance: none;
  width: 15px; /* 핸들의 폭 */
  height: 15px; /* 핸들의 높이 */
  background: #ff17e5; /* 핸들의 배경색 */
  cursor: pointer; /* 커서 모양 */
}

.speed-range::-moz-range-thumb {
  width: 15px; /* 핸들의 폭 */
  height: 15px; /* 핸들의 높이 */
  background: #ff17e5; /* 핸들의 배경색 */
  cursor: pointer; /* 커서 모양 */
}
