.myVoice {
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  justify-content: center;
  position: fixed;
  bottom: 0; /* 아래쪽으로는 화면 끝까지 */
  top: 15%; /* 화면의 정중앙부터 시작 */
  overflow: auto;
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
  width: 100%;
}

.voice-intro {
  text-align: center;
}

.voice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; /*왼쪽으로 치우쳐진 게 중앙으로 오도록*/
  margin-top: 20px;
  width: 50%;
}

.speed {
  display: flex;
  text-align: center;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; /*왼쪽으로 치우쳐진 게 중앙으로 오도록 */
  margin-top: 15px;
  width: 50%;
}

.pitch {
  display: flex;
  font-size: 16px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto; /*왼쪽으로 치우쳐진 게 중앙으로 오도록 */
  margin-top: 15px;
  width: 50%;
}

.voice_radio {
  width: 70%;
}

.voice_select {
  margin-left: 20px;
}
/* value값이랑 range바를 수직으로 배치 */
.speed_two {
  margin-bottom: 20px;
  width: 70%;
  flex-direction: column;
}
/* value값이랑 range바를 수직으로 배치 */
.pitch_two {
  margin-bottom: 20px;
  width: 70%;
  flex-direction: column;
}

.speedWord {
  color: white;
}
.speed_select {
  padding-top: 10px;
}

.pitchWord {
  color: White;
}
.pitch_select {
  padding-top: 10px;
}

.voice_radio {
  display: flex;
  justify-content: center;
}
/* 빠르기 조절 */

.speed-range {
  -webkit-appearance: none; /* 오버라이드 기본 스타일 */
  appearance: none;
  /*width: 50%; /* 슬라이더의 전체 폭 */
  width: calc(100% - 20px);
  height: 5px; /* 슬라이더의 높이 */
  background: white; /* 슬라이더의 배경색 */
  outline: none; /* 포커스 테두리 제거 */
  opacity: 1; /* 슬라이더의 불투명도 */
  -webkit-transition: 0.2s; /* 트랜지션 효과 */
  transition: opacity 0.2s;
  width: 400px;
}
.speed-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* 핸들 기본 스타일 제거 */
  appearance: none;
  width: 15px; /* 핸들의 폭 */
  height: 15px; /* 핸들의 높이 */
  background: #ff17e5; /* 핸들의 배경색 */
  cursor: pointer; /* 커서 모양 */
}

.speed-range::-moz-range-thumb {
  width: 15px; /* 핸들의 폭 */
  height: 15px; /* 핸들의 높이 */
  background: #ff17e5; /* 핸들의 배경색 */
  cursor: pointer; /* 커서 모양 */
}

/* 피치 조절 */

.pitch-range {
  -webkit-appearance: none; /* 오버라이드 기본 스타일 */
  appearance: none;
  width: calc(100% - 20px); /* 슬라이더의 전체 폭 */
  height: 5px; /* 슬라이더의 높이 */
  background: white; /* 슬라이더의 배경색 */
  outline: none; /* 포커스 테두리 제거 */
  opacity: 1; /* 슬라이더의 불투명도 */
  -webkit-transition: 0.2s; /* 트랜지션 효과 */
  transition: opacity 0.2s;
  width: 400px;
}
.pitch-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* 핸들 기본 스타일 제거 */
  appearance: none;
  width: 15px; /* 핸들의 폭 */
  height: 15px; /* 핸들의 높이 */
  background: #ff17e5; /* 핸들의 배경색 */
  cursor: pointer; /* 커서 모양 */
}

.pitch-range::-moz-range-thumb {
  width: 15px; /* 핸들의 폭 */
  height: 15px; /* 핸들의 높이 */
  background: #ff17e5; /* 핸들의 배경색 */
  cursor: pointer; /* 커서 모양 */
}

.voice_letter,
.speed_letter,
.pitch_letter {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}

.voice_select,
.speed_select,
.pitch_select {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  margin: 0 10px;
  accent-color: #ff17e5; /* This will change the color of the radio button */
}

.voice_letter,
.speed_letter,
.pitch_letter {
  display: inline-block;
  border: 2px solid #ff17e5; /* 테두리 색상을 흰색으로 설정 */
  border-radius: 50%; /* 원형 테두리를 만들기 위한 설정 */
  width: 110px; /* 원의 가로 크기 */
  height: 110px; /* 원의 세로 크기 */
  line-height: 110px; /* 텍스트를 수직 중앙으로 정렬하기 위한 설정 */
  text-align: center; /* 텍스트를 가로 중앙으로 정렬하기 위한 설정 */
  margin: 10px; /* 주변 요소와의 간격을 설정 */

  color: white; /* 글씨 색상을 흰색으로 설정 */
}

.range-value {
  color: white;
}

.range-min {
  margin-right: 10px;
}

.range-max {
  margin-left: 10px;
}
.play {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
}

.playContent {
  display: flex;
  align-items: center;
}

.playLetter {
  margin-top: 20px;
  font-size: 13px;
  margin-right: 10px;
}
.play_button {
  margin-top: 20px;
  width: 30px; /* 이미지 크기 설정 */
  height: auto; /* 이미지 비율 유지 */
}

.save_voice {
  font-size: 13px;
  border: 2px solid #ff17e5;
  margin-top: 10px;
  background: black;
  color: white;
}

/* 화면 폭이 768px 미만일 때 */
@media (max-width: 768px) {
  .myVoice {
    width: 90%;
    padding: 0 20px;
  }

  .voice {
    margin: 0 auto;
    width: 80%;
  }
  .speed {
    margin: 0 auto;
    width: 80%;
    font-size: 13px;
  }
  .pitch {
    margin: 0 auto;
    width: 80%;
  }

  .voice_radio,
  .speed_two,
  .pitch_two {
    width: 65%;
  }
  .voice_select,
  .speed_select,
  .pitch_select {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .voice_letter,
  .speed_letter,
  .pitch_letter {
    width: 100px; /* 작은 화면에서의 원의 가로 크기 조정 */
    height: 100px; /* 작은 화면에서의 원의 세로 크기 조정 */
    border-radius: 50%;
    line-height: 100px; /* 텍스트를 수직 중앙으로 정렬하는 높이 조정 */
    font-size: 13px; /* 작은 화면에서의 글씨 크기 조정 */
  }

  .speed-range,
  .pitch-range {
    width: 100%;
  }

  .voice_select {
    margin-left: 10px;
  }

  .voice_select label {
    font-size: 13px; /* 더 작은 화면에서 글씨 크기 더 줄임 */
  }

  h2 {
    font-size: 16px;
  }
  /*
  .play {
    flex-direction: column;
    width: 100%;
  }*/
  .play {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
  }

  .save_voice,
  .play_button {
    margin: 10px 0;
  }

  .playLetter {
    font-size: 11px;
  }
  .play_button {
    width: 20px;
  }

  .save_voice {
    font-size: 16px;
  }
}

/* 화면 폭이 480px 미만일 때 */
@media (max-width: 480px) {
  .myVoice {
    top: 15%;
    width: 100%;
    padding: 0 20px;
  }
  .voice {
    margin: 0 auto;
    width: 90%;
  }
  .speed {
    margin: 0 auto;
    width: 90%;
    font-size: 11px;
  }
  .pitch {
    margin: 0 auto;
    width: 90%;
  }

  .voice_radio {
    width: 60%;
  }

  .speed_two,
  .pitch_two {
    width: 65%;
  }
  .voice_letter,
  .speed_letter,
  .pitch_letter {
    width: 100px; /* 작은 화면에서의 원의 가로 크기 조정 */
    height: 100px; /* 작은 화면에서의 원의 세로 크기 조정 */
    border-radius: 50%;
    line-height: 100px; /* 텍스트를 수직 중앙으로 정렬하는 높이 조정 */
    font-size: 14px; /* 작은 화면에서의 글씨 크기 조정 */
  }
  .voice_select {
    margin-left: 10px;
  }

  .voice_select label {
    font-size: 11px; /* 더 작은 화면에서 글씨 크기 더 줄임 */
  }

  .speed-range {
    width: calc(100% - 20px);
    height: 3px; /* 슬라이더의 높이 */
  }

  .speed-range::-webkit-slider-thumb {
    width: 12px; /* 핸들의 폭 */
    height: 12px; /* 핸들의 높이 */
  }
  .speed-range::-moz-range-thumb {
    width: 12px; /* 핸들의 폭 */
    height: 12px; /* 핸들의 높이 */
  }

  .pitch-range {
    width: calc(100% - 20px);
    height: 3px; /* 슬라이더의 높이 */
  }

  .pitch-range::-webkit-slider-thumb {
    width: 12px; /* 핸들의 폭 */
    height: 12px; /* 핸들의 높이 */
  }
  .pitch-range::-moz-range-thumb {
    width: 12px; /* 핸들의 폭 */
    height: 12px; /* 핸들의 높이 */
  }

  .range-min,
  .range-max {
    font-size: 13px;
  }

  .play {
    width: 90%;
  }
  .playLetter {
    font-size: 14px;
  }
  .play_button {
    width: 25px;
  }

  .save_voice {
    font-size: 13px;
  }
}
